USE [master]
GO
/****** Object:  Database [CVBLOG]    Script Date: 15.08.2025 15:50:14 ******/
CREATE DATABASE [CVBLOG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CVBLOG', FILENAME = N'D:\patika_web_tasarım\c#\CVBlog\db\CVBLOG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CVBLOG_log', FILENAME = N'D:\patika_web_tasarım\c#\CVBlog\db\CVBLOG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CVBLOG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CVBLOG]
GO
/****** Object:  Table [dbo].[ABOUT]    Script Date: 15.08.2025 15:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABOUT](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](30) NULL,
	[SURNAME] [varchar](30) NULL,
	[ADDRESS] [varchar](150) NULL,
	[MAIL] [varchar](50) NULL,
	[PHONE] [varchar](20) NULL,
	[NOTES] [varchar](max) NULL,
	[IMAGE] [varchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 15.08.2025 15:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](30) NULL,
	[PASSWORD] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AWARDS]    Script Date: 15.08.2025 15:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AWARDS](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[AWARD] [varchar](150) NULL,
 CONSTRAINT [PK_AWARDS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EDUCATION]    Script Date: 15.08.2025 15:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDUCATION](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[TOPIC] [varchar](50) NULL,
	[SUBTITLE] [varchar](50) NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[GPA] [varchar](50) NULL,
	[DATE] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXPERIENCE]    Script Date: 15.08.2025 15:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXPERIENCE](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[TOPIC] [varchar](50) NULL,
	[SUBTITLE] [varchar](50) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[DATE] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOBBY]    Script Date: 15.08.2025 15:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOBBY](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[HOBBY] [varchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SKILLS]    Script Date: 15.08.2025 15:50:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SKILLS](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[SKILL] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
